[
	{
		"description":"the first moco demo",
		"request":{
			"uri":"/demo"
		},
		"response":{
			"text":"the first moco response"
		}
	}
	,
	{
		"description":"the second moco demo of get",
		"request":{
			"uri":"/getDemo",
			"method":"get"
		},
		"response":{
			"text":"the second moco response of get"
		}
	}
	,
	{
		"description":"get 带参数",
		"request":{
			"uri":"/getwithParam",
			"method":"get",
			"queries":{
				"name":"huhansan",
				"age":"18"
			}
		},
		"response":{
			"text":"get i am back"
		}
	}
	,
	{
		"description":"post 不带参数",
		"request":{
			"uri":"/postwithoutParam",
			"method":"post"
		},
		"response":{
			"text":"post i am back"
		}
	}
	,
	{
		"description":"post带参数",
		"request":{
			"uri":"/postwithParam",
			"method":"post",
			"forms":{
				"name":"xixi",
				"sex":"man"
			}
		},
		"response":{
			"text":"post with params i am back"
		}
	},
	{
		"description":"get with cookies",
		"request":{
			"uri":"/getWithCookies",
			"method":"get",
			"cookies":{
			"login":"true"
			}
		},
		"response":{
			"text":"get with cookies"
		}
	}
	,
	{
		"description":"post with cookies",
		"request":{
			"uri":"/postWithCookies",
			"method":"post",
			"cookies":{
			"login":"true"
			},
			"json":{
				"name":"xixi",
				"age":"20"
			}
		},
		"response":{
			"status":200,
			"json":{
				"haha":"success",
				"status":"1"
			}
		}
	}
	,
		{
		"description":"post with headers",
		"request":{
			"uri":"/postWithHeaders",
			"method":"post",
			"headers":{
				"content-type":"application/json"
			}
			"cookies":{
			"login":"true"
			},
			"json":{
				"name":"xixi",
				"age":"20"
			}
		},
		"response":{
			"status":200,
			"json":{
				"haha":"success",
				"status":"1"
			}
		}
	}
]