[
	{
		"description":"get 带参数",
		"request":{
			"uri":"/getwithParam",
			"method":"get",
			"queries":{
				"name":"huhansan",
				"age":"18"
			}
		},
		"response":{
			"text":"get i am back"
		}
	}
	,
	{
		"description":"post with form",
		"request":{
			"uri":"/postwithParam",
			"method":"post",
			"forms":{
				"name":"xixi",
				"sex":"man"
			}
		},
		"response":{
			"text":"post with params i am back"
		}
	},
	{
		"description":"post with json",
		"request":{
			"uri":"/postWithJson",
			"method":"post",
			"json":{
				"name":"xixi",
				"age":"20"
			}
		},
		"response":{
			"status":200,
			"json":{
				"haha":"success",
				"status":"1"
			}
		}
	}
	,
	{
		"description":"cookie",
		"request":{
			"uri":"/getCookies",
			"method":"get"
		},
		"response":{
			"cookies":{
				"loginSessionId":"7829hfy70h1uhfphf860791h"
			},
			"text":"get cookie success"
		}
	},
	{
		"description":"get with cookies",
		"request":{
			"uri":"/getWithCookies",
			"method":"get",
			"cookies":{
			"loginSessionId":"7829hfy70h1uhfphf860791h"
			}
		},
		"response":{
			"text":"get with cookies"
		}
	},
		{
		"description":"post with cookies",
		"request":{
			"uri":"/postWithCookies",
			"method":"post",
			"json":{
				"name":"xixi",
				"age":"20"
			},
			"cookies":{
			"loginSessionId":"7829hfy70h1uhfphf860791h"
			}
		},
		"response":{
			"status":200,
			"json":{
				"result":"success",
				"status":"1"
			}
		}
	}
]